@font-face {
    font-family: "Yellowtail";
    src: url("../fonts/Yellowtail-Regular.otf");
}

.main_title, .yellowtail {
    font-family: "Yellowtail", Verdana, Tahoma;
}

.header {
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: lightgrey;
}

.lang_bar {
    position: fixed;
    float: right;
    top: 20px;
    right: 20px;
}

.select_lang {
    width: 150px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 50px;
}

.gatekeeper {
    margin-right: 20px;
}

.logo {
    margin-left: 50px;
    padding-right: 50px;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: grey;
}

.center {
    margin: auto;
    text-align: center;
}

.circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#temoignages, #last {
    background: white;
    border: solid 1px black;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
}

.major_hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.profil {
    margin: auto;
    text-align: center;
    border: solid 1px black;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.img-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
}

.mini-img-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: 150px 150px;
}

.select_form {
    width: auto;
}

.boxme.ng-hide-add {
    -webkit-animation: fadeOutLeftBig 5s;
    /*display: block!important;*/
}
.boxme.ng-hide-remove {
    -webkit-animation: fadeInLeftBig 5s;
}

.search {
    width: 250px;
    margin-right: 20px;
}

.message {
    border: solid 1px black;
    height: auto;
    border-radius: 10px;
    text-align: center;
}

.moi {
    background-color: lightblue;
}

.corresp {
    background-color: lightgreen;
    margin-right: 500px;
}

.horodateur {
    font-style: italic;
    font-size: 75%;
    color  lightgrey;
}

.recipient {
    background-color: lightgrey;
    border: solid 1px black;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    padding-top: 12px;
}