<!DOCTYPE html>
<html ng-app="petit_colis" ng-app lang="en">
<head>
    <meta charset="utf-8">
    <base href="/petit_colis/">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <title>Petit Colis</title>
</head>
<body ng-controller="HomeController">
<div class="lang_bar">
    <select ng-options="language | translate for language in languages" ng-model="language"
            ng-change="updateLanguage()" class="form-control select_lang"></select>
    <img ng-src="img/{{language}}.png">
</div>
<div class="header">
    <span>
    <h1 class="main_title"><a href="/petit_colis/"><img src="img/logo.PNG" class="logo"/></a>
    {{"title" | translate}}
    </h1>
    </span>
</div>
<nav class="navbar gatekeeper">
    <div class="pull-right" ng-hide="connected">
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myConnexion">
            {{"button.connect" | translate}}
        </button>
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myInscription">
            {{"button.join" | translate}}
        </button>
    </div>
    <div class="pull-right" ng-show="connected">
        <img class="mini-img-circle" ng-src="{{connectedUser.pic}}"/>
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" ng-click="go('/profile')">
            {{"button.profile" | translate}}
        </button>
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" ng-click="disconnect()">
            {{"button.deco" | translate}}
        </button>
    </div>
</nav>

<div class="alert alert-success alert-dismissible" id="alert_sub_success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>{{"alert.success" | translate}}</strong> {{"alert.success.message" | translate}}
</div>

<div>
    <form ng-submit="showAdverts()" class="center form-inline">
        <input class="form-control search" type="text" ng-model="ville_d" name="ville_d" placeHolder="{{'annonce.ville_depart' | translate}}">
        <input class="form-control search" type="text" ng-model="ville_a" name="ville_a" placeHolder="{{'annonce.ville_arrivee' | translate}}">
        <input class="form-control search" type="date" ng-model="date_d" name="date_dep">
        <input type="submit" ng-click="show = true" value="{{'message.recherche' | translate}}">
    </form>
</div>
<div>
<button ng-click="go('detail_annonce/17')">Go</button>
</div>

<br><br>

<div ng-view ng-hide="show"></div>
<div id="advertsall" ng-show="show">
    <h2 class="yellowtail center">{{"message.resultat" | translate}}</h2>
    <hr>
    <div ng-repeat="ads in advertsall track by $index" class="col-md-offset-1 col-md-9">
        <div class="col-md-3" >
            <h4 class="yellowtail"><img class="mini-img-circle" ng-src="{{ads.pic}}"/>  {{ads.user_prenom}} {{ads.user_nom}}</h4>  
        </div>
        <div class="col-md-6">
            Voyage proposé le {{ads.date_debut | date : 'd/M/yyyy'}}<br/>
            {{ads.nomDelai | translate}}/{{ads.commentaire}}<br/>
            <img src="img/start.png" width="16" height="16"/> {{ads.ville_dep}}<br/>
            <img src="img/finish.png" width="16" height="16"/> {{ads.ville_arr}}<br/>
            {{"annonce.transport" | translate}} : {{ads.nomMoyen_transport | translate}}
        </div>
        <div class="col-md_2>">
        {{"annonce.prix" | translate}} : {{ads.prix}}€<br/>
        {{"annonce.kilo" | translate}} : {{ads.nbr_kilos}}<br/> 
        </div>
        <hr>
    </div
</div>
<div class="clearfix"></div>


<br/>
<br/>
<div class="footer">
    <p class="center">&copy; Petit Colis - Sébastien MINES & Valentin HUYENH</p>
    <p class="center">INSTA - 2016/2017 - {{"message.rights" | translate}}</p>
</div>


<!-- Modal Connection -->
<div id="myConnexion" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{"form.connexion" | translate}}</h4>
            </div>
            <div class="alert alert-danger alert-dismissible hide" id="alert_conn_error">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{"alert.conn.error" | translate}}</strong><br/> {{"alert.conn.error.message" | translate}}
            </div>
            <div class="modal-body">
                <form ng-submit="submit()">
                    <input type="text" ng-model="email" name="email" placeholder="E-mail" value=""><br><br>
                    <input type="password" ng-model="passwd" name="passwd"
                           placeholder="{{'form.connexion.mdp' | translate}}" value=""><br><br>
                    <input type="submit" name="connexion" value="{{'form.connexion' | translate}}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{"form.fermer" | translate}}
                </button>
            </div>
        </div>

    </div>
</div>
<!-- Modal Inscription -->
<div id="myInscription" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{"form.inscription" | translate}}</h4>
            </div>
            <div class="alert alert-danger alert-dismissible hide" id="alert_sub_error">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{"alert.error" | translate}}</strong><br/> {{"alert.error.message" | translate}}
            </div>
            <div class="modal-body">
                <form ng-submit="connect()" name="form ">
                    <input type="radio" ng-model="rang" name="rang" value="e"> {{"form.inscription.entreprise" |
                    translate}}
                    <input type="radio" ng-model="rang" name="rang" value="p"> {{"form.inscription.particulier" |
                    translate}}<br><br>
                    <input type="radio" ng-model="genre" name="genre" value="homme"> {{"form.inscription.homme" |
                    translate}}
                    <input type="radio" ng-model="genre" name="genre" value="femme"> {{"form.inscription.femme" |
                    translate}}<br><br>
                    <input type="text" ng-model="user_prenom" name="user_prenom"
                           placeholder="{{'form.inscription.prenom' | translate}}" value="" ng-required="!user_prenom">
                    <input type="text" ng-model="user_nom" name="user_nom"
                           placeholder="{{'form.inscription.nom' | translate}}" value=""
                           ng-required="!user_nom"><br><br>
                    <input type="text" ng-model="mail" name="mail" placeholder="E-mail" value=""
                           ng-required="!mail"><br><br>
                    <input type="password" ng-model="mdp" ng-required="!mdp" name="mdp"
                           placeholder="{{'form.connexion.mdp' | translate}}"
                           value=""><br><br>
                    <input type="password" name="mdp_verify" placeholder="{{'form.connexion.confirm_mdp' | translate}}"
                           value="" ng-required="!mdp_verify"><br><br>
                    <input type="number" ng-model="naissance" name="naissance"
                           placeholder="{{'form.inscription.annee' | translate}}"
                           value="" ng-required="!naissance"><br><br>
                    <input type="checkbox" ng-model="newsletter" name="newsletter"> {{'form.inscription.texte' |
                    translate}}<br><br>
                    <input type="submit" name="send" value="{{'form.inscription.valider' | translate}}"
                           ng-disabled="form.$invalid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{"form.fermer" | translate}}
                </button>
            </div>
        </div>

    </div>
</div>
<!-- Modal Comment -->
<div id="addComment" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{"button.add_comment" | translate}}</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="comment()" id="commentform">
                    <input type="number" ng-model="note" name="note" placeholder="{{'form.comment.note' | translate}}"
                           value=""><br><br>
                    <textarea rows="4" cols="50" ng-model="textarea" name="comment" form="commentform"
                              placeholder="{{'button.add_comment' | translate}}"></textarea>
                    <br><br>
                    <input type="submit" name="commentaire" value="Valider">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{"form.fermer" | translate}}
                </button>
            </div>
        </div>

    </div>
</div>

</body>
<script type="text/javascript" src="js/angular.js"></script>
<script src="js/ng-flow-standalone.js"></script>
<script src="app/app.js"></script>
<script src="js/jquery-3.1.1.js"></script>
<script src="js/index.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/angular-cookies.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.js"></script>
<script src="js/angular-md5.js"></script>
<script src="js/angular-translate.js"></script>
<script src="js/angular-translate-loader-static-files.js"></script>
<script src="js/jquery.mCustomScrollbar.js"></script>
</html>