<div ng-controller="chatController">
    <div id="chatbox" class="col-md-2">
        <div ng-repeat="recipient in recipients">
            <div ng-click="showMessage(recipient.idUsers)" class="recipient">
                {{recipient.user_nom}} {{recipient.user_prenom}}
            </div>
            <br>
        </div>
    </div>
    <div id="chatbox" ng-show="chat_activated" class="col-md-offset-4 col-md-6 center">
    	<div ng-repeat="message in messages track by $index" class="col-md-5 message clearfix" 
            ng-class="{'col-md-offset-6 moi': message.id_exp == connectedUser.idUsers, 'corresp': message.id_exp != connectedUser.idUsers}">
    		{{message.message}}<br>
            <span class="horodateur">{{message.timestamp | date : 'd/M/yyyy h:m:s'}}</span>
        </div>
        <div class="clearfix"></div>
        <br/>
        <br/>
    	<form ng-submit="newMessage()" class="center form-inline" name="submit_message">
            <input type="hidden" ng- value="dest_id" ng-model="dest" name="dest"/>
            <input class="form-control search" type="text" ng-model="to_send" name="to_send"/>
            <input type="submit" value="{{'message.envoyer' | translate}}"/>
        </form>
    </div>
</div>