<div ng-controller='mainController'>
    <div id="last" class="col-md-5 col-md-offset-1">
        <h3 class="yellowtail">{{"title.last" | translate}}</h3>
        <hr class="major_hr">
        <div ng-repeat="ads in annonces track by $index">
            <div class="col-md-4" >
                <h4 class="yellowtail"><img class="mini-img-circle" ng-src="{{ads.pic}}"/>  {{ads.user_prenom}} {{ads.user_nom}}</h4>  
            </div>
            <div class="col-md-6">
                Voyage proposé le {{ads.date_debut | date : 'd/M/yyyy'}}<br/>
                {{ads.nomDelai | translate}}/{{ads.commentaire}}<br/>
                <img src="img/start.png" width="16" height="16"/> {{ads.ville_dep}}<br/>
                <img src="img/finish.png" width="16" height="16"/> {{ads.ville_arr}}<br/>
                {{"annonce.transport" | translate}} : {{ads.nomMoyen_transport | translate}}
            </div>
            <div class="col-md-2>">
            {{"annonce.prix" | translate}} : {{ads.prix}}€<br/>
            {{"annonce.kilo" | translate}} : {{ads.nbr_kilos}}<br/> 
            <a ng-href="detail_annonce/{{ads.idAnnonce}}" ng-show="connected"><button type="button">{{"annonce.detail" | translate}}</button></a>
            </div>
            <div class="clearfix"></div>
            <hr/>
        </div>
    </div>

    <div id="temoignages" class="col-md-3 col-md-offset-1 mCustomScrollbar" data-mcs-theme="dark">
        <h3 class="yellowtail">{{"title.temoignage" | translate}}</h3>
        <hr class="major_hr">
        <div ng-repeat="temoignage in temoignages track by $index">
            <h4 class="yellowtail"><img class="mini-img-circle" ng-src="{{temoignage.pic}}"/> {{temoignage.user_prenom}}
                {{temoignage.user_nom}}</h4>
            <hr>
            <p>{{temoignage.commentaire}}</p>
            <br>
        </div>
    </div>
    <div class="col-md-8 center">
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" ng-click="go('/annonce')"
                ng-show="connected">{{"button.add_annonce" | translate}}
        </button>
    </div>
    <div class="col-md-1 center">
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#addComment"
                ng-show="connected">{{"button.add_comment" | translate}}
        </button>
    </div>

    <div class="clearfix"></div>
    <div style="height: 50px;"></div>
    <br>

    <div class="howto col-md-offset-2 col-sm-8" style="height: auto;">
        <h3 class="yellowtail" style="text-align: center">{{"title.howto" | translate}}</h3>
        <hr class="major_hr">
        <div class="col-md-offset-1 col-md-2">
            <div class="circle center" style="background: url('img/luggage.png') no-repeat center"></div>
            <div class="center">
                <h3 class="yellowtail">{{"message.choose" | translate}}</h3>
                <p>{{"message.choose.inner" | translate}}</p>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <div class="circle center" style="background: url('img/reserved.png') no-repeat center"></div>
            <div class="center">
                <h3 class="yellowtail">{{"message.book" | translate}}</h3>
                <p>{{"message.book.inner" | translate}}</p>
            </div>
        </div>

        <div class="col-md-2 col-md-offset-2">
            <div class="circle center" style="background: url('img/like.png') no-repeat center"></div>
            <div class="center">
                <h3 class="yellowtail">{{"message.wait" | translate}}</h3>
                <p>{{"message.wait.inner" | translate}}</p>
            </div>
        </div>
    </div>
</div>