<div>
    <div class="profil">
        <h1 class="yellowtail">{{"profile.title" | translate}}</h1>
        <hr class="major_hr"/>
        <h3 class="yellowtail">{{user.user_prenom}} {{user.user_nom}}</h3><br/>
        <div flow-init flow-name="uploader.flow" flow-files-added="processFiles($files)" flow-files-submitted="$flow.upload()"> 
            <img class="img-circle center" ng-src="{{connectedUser.pic}}"/><br/><br/>
            <button flow-btn type="file">{{'profile.upload_avatar' | translate}}</button><br/>
        </div>
        <hr/>

        <label>{{"profile.date_inscription" | translate}} : </label>
        <p>{{user.date_inscription | date : 'd/M/yyyy'}}</p><br/>

        <label>Mail : </label>
        <p>{{user.mail}}</p><br/>

        <label>{{"profile.newsletter" | translate}} : </label>
        <p ng-if="user.newsletter == 1">{{"profile.oui" | translate}}</p><br/>
        <p ng-if="user.newsletter == 0">{{"profile.non" | translate}}</p><br/>
    </div>
</div>